body {
  font-size: 16px;
  background: #333;
  color: #fcfcfc;
  line-height: 21px;
  margin-top: 10px;
  margin-left: 10px;
}

code {
  color: #fcfcfc !important;
}

a {
  color: #888;
}

a:hover {
  color: #888;
}

small {
  font-size: 12px;
}


a:visited {
  color: #888;
}

.forum-container {
  margin: auto;
}

.forum-container, .story-container, .comment-container {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
  color: #e1e1e1;
}

.r-border {
  cursor: pointer;
  width: 10px;
  flex-shrink: 0;
}

.r-border:hover {
  background-color: #fbfbfb;
  box-shadow:0 0 20px #fbfbfb;
}

.flex-fixed-width-item {
    flex: 0 0 10px;
}

.cr-border {
  background-color: #3b3b3b;
}

.sr-border {
  background-color: #484848;
}

.fr-border {
  background-color: #5f5f5f;
}

.comment-container {
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 5px;
}

.story-container {
  padding-left: 20px;
}

.selftext-container {
  display: block;
  font-size: 16px;
  margin-top: 20px;
}

.forum-container {
  padding-left: 20px;
}

.story-container.expanded {
  font-size: 25px;
}

.expanded .story-title {
  line-height: 28px;
  color: #ff6363;
}

.padded-container {
  padding-top: 10px;
  padding-left: 10px;
  line-height: 21px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
  font-family: sans-serif;
  color: #888;
  display: inline-block;
}

.by {
}

.author {
  font-size: 12px;
  margin-right: 5px;
  font-family: sans-serif;
}

p {
  margin: 0px;
  margin-top: 5px;
}

.log-container {
  font-size: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  border-radius: 5px 0px 0px 0px;
  padding: 5px;
  background: #000000b3;
  line-height: 15px;
}

.log-items-container {
}

blockquote {
  border-left: solid 1px #888;
  padding-left: 5px;
}

.forum-heading {
  font-size: 20px;
  cursor: pointer;
  padding-left: 10px;

}

.movie-container {
  padding: 10px;
}

.movie-info small {
  margin-right: 10px;
}

.movie-image-synopsis {
  margin-right: 10px;
  display: flex;
}

.movie-image-synopsis > div {
  padding: 10px;
}

.clear-link {
  text-align: right;
  cursor: pointer;
}

.parent-comment {
  padding: 10px;
  background-color:#454545;
}

.new-forum-form {
 display: flex;
 justify-content: left;
 flex-direction: row;
}

.new-forum-form {
  margin-bottom: 10px;
}

@media screen and (max-width: 470px) {
  .new-forum-form button, .new-forum-form input {
    margin-top: 5px;
  }

  .new-forum-form {
   flex-direction: column;
  }

}

.row {
  flex-wrap: nowrap;
}

@media screen and (max-width: 600px) {
  .col, .col-11 {
    padding-left: 5px;
  }

  .log-container {
    max-height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .cr-border {
    background-color: #5d5d5d;
  }

  .col-12 {
    padding-right: 0px;
    margin-right: 0px;
  }

  .sr-border {
    background-color: #5d5d5d;
  }

  .fr-border {
    background-color: #5d5d5d;
  }
  .comment-container {
    font-size: 16px;
    padding-left: 10px;
  }

  .col-12 {
    padding-left: 10px;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
  }

  .row {
  }

  .selftext-container {
    font-size: 16px;
  }

  .forum-heading {
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
  }

  .r-border {
    width: 5px;
  }
}

@media screen and (max-width: 400px) {
  

  .forum-container {
    padding-left: 2px;
  }
  .col-12 {
    padding-left: 2px;
  }

  .container-fluid {
    padding-left: 5px;
  }

  .comment-container {
    font-size: 16px;
    padding-left: 10px;
  }

  .selftext-container {
    font-size: 16px;
  }

  .forum-heading {
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
  }

  .r-border {
    width: 5px;
  }
}

button, input, select {
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: white;
}
